@font-face {
    font-family: "Estratos";
    src: url(../font/ESTRATOSFONT.woff2) format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/bg/bg_2.jpg');
    background-color:rgb(30, 98, 224);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    color: blue; /* Change the color of the hyperlink */
}

a:hover {
    color: rgb(255, 217, 0); /* Change the color when the user hovers over it */
}

.circle-container {
    position: fixed;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 50;
}

.feathered-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        #FFFFFF 0%,
        #ffea2b 100%
    );
    /* Subtle shadow for depth */
    box-shadow: 
        0 0 60px rgba(135, 206, 235, 0.5),
        0 0 100px rgba(255, 255, 255, 0.3);
}

h1 {
    color: goldenrod;
    margin-top:2%;
    text-align: center;
    font-size: 200px;
    font-family: 'Estratos', sans-serif;
    font-weight: 100;
    position:relative;
    width: 100%;
    line-height: 1em;
    height: auto;
    padding: 0;
    text-align: center;
    left: 0%;
    
}

h2 {
    color: rgb(255, 255, 255);
    font-family: Roca, serif;    
    font-size: 39.5px;
    text-align: center;
    margin: 0%;
    width: 100%;
    padding-left: 0%;
    min-width: 290px;
    max-width: 60ch;
    height: auto;
    text-shadow: 1px 0px 3px black;
    padding: 0%;
}

h3 {
    color: rgb(255, 255, 255);
    font-family: Roca, serif;    
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    margin: 5%;
    width: 100%;
    padding-left: 0%;
    min-width: 290px;
    max-width: 60ch;
    height: auto;
    text-shadow: 1px 0px 3px black;
    padding: 0%;
}

p {
    color: white;
    position: absolute;
    margin-left: 21%;
    font-family: Roca, serif;
    font-size: 16px;
    text-align:center;
    top:-30%;
    width: 100%;
    padding: 5%;
    min-width: 290px;
    max-width: 75ch;
    height: auto;
    text-shadow: 1px 0px 3px black;
    padding: 1%;
}

@media (max-width: 500px) {
    .feathered-circle {
        width: 300px;
        height: 300px;
    }
}

.juego_home {
  position: absolute;
  top:70%;
  left:10%;
  z-index: 1;

}

.cursor
    {
        position: absolute;
        width: 50px;
        height: 50px;
    }

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}