body{
  width: 100%;
  height: 100%;  
  overflow: hidden;
  cursor: url("img/rsrc/cursor_1.png"), 100px 100px, auto;
}

h1 {
    font-family: 'Jokerman', cursive;
    font-size:150px;
    color: goldenrod;
    position:fixed;
    top: 100px;
    text-align: center;
    left:700px;
    
}
 
 .parent {  
    background-color: transparent;  
    height: 1000px;  
    width: 50%;  
   }  
  
  .child {  
    background-color: transparent;  
    height: 100px;  
    width: 100px;  
    border-radius: 20%;  
    transition-duration: 1s;  
    transition-property: transform;  
   }  
  
  .parent:hover .child {  
    transform: translateX(-600%);  
    background-color: transparent;   
   }  

.roadBox {
    position: absolute;
    top: 500px;
    left: 640px;
    width: 100px;
    height: 120px;
    background-color: white;
    opacity: 0;
}

.coli_1
 {
  position: absolute;
  top:10px;
  left:600px;
  z-index: 1;
 }

 .gorr_1
 {
  position: absolute;
  top:10px;
  left:20px;
  z-index: 1;
 }

 .inca_1
 {
  position: absolute;
  top:10px;
  left:20px;
  z-index: 1;
 }

 .pinzon_1
 {
  position: absolute;
  top:10px;
  left:20px;
  z-index: 1;
 }

 .peri_1
{
    position: absolute;
  top:450px;
  left:30px;
  z-index: 1;
}