@font-face {
    font-family: "Estratos";
    src: url(../../css/Estratos-Regular.woff2) format('woff2');
}


body{
  width: 100%;
  height: 600px;  
  overflow: visible;
  cursor: url('../img/rsrc/cursors/blue.cur'), auto;
}


h1 {
    font-family: 'Estratos', sans-serif;
    font-weight: 100;
    font-size:150px;
    color: goldenrod;
    position:fixed;
    text-align: right;
    line-height: 1em;
    text-decoration: none;
    display: block;
}

h2 {
    font-family: 'Roca', sans-serif;
    font-weight: 100;
    font-size:24px;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: left;
    z-index: 1;
}

p {
    font-family: 'Roca', sans-serif;
    font-weight: 100;
    font-size:16px;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: left;
    z-index: 1;
}


a {
    color: rgb(255, 255, 255); /* Change the color of the hyperlink */
}

a:hover {
    color: rgb(255, 217, 0); /* Change the color when the user hovers over it */
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}
.bright {
  transition: all 0.2s ease-in-out;
}

.bright:hover {
  filter: brightness(1.2);
}