@font-face {
    font-family: "Estratos";
    src: url(../../css/Estratos-Regular.woff2) format('woff2');
}

body{
  width: 100%;
  height: 100%;  
  overflow: hidden;
  cursor: url('../img/rsrc/cursors/blue.cur'), auto;
}


h1 {
    font-family: 'Estratos', sans-serif;
    font-weight: 100;
    font-size:150px;
    color: goldenrod;
    position:fixed;
    text-align: center;
    line-height: 1em;
    text-decoration: none;
    display: block;
}

h2 {
    font-family: 'Estratos', sans-serif;
    font-weight: 100;
    font-size:50px;
    color: rgb(255, 255, 255);
    position:fixed;
    text-align: center;
    z-index: 1;
    
}

p
{
   color: #fff;
  position: fixed;
  top:65%;
  left: 35.5%;
  font-family: Roca, serif;  
  font: size 22px;
  display: inline-block;
  text-align: center;
  z-index: 2;
}

p-2
{
   color: rgb(255, 255, 255);
  position: fixed;
  text-shadow: 1px 1px 4px black;
  top:15%;
  left: 35.5%;
  font-family: Roca, serif;  
  font: size 22px;
  display: inline-block;
  text-align: center;
  z-index: 2;
}

a {
    color: blue; /* Change the color of the hyperlink */
}

a:hover {
    color: rgb(255, 217, 0); /* Change the color when the user hovers over it */
}



.exit {
    position: absolute;
    top: -50px;
    left: 20px;
    z-index: 1;
}


.arrow_left
{
  position: absolute;
  top:45%;
  left:50px;

}

.arrow_right
{
  position: absolute;
  top:45%;
  left:1120px;

}

/* Popup container */
.popup {
  color: #fff;
  position: relative;
  font-family: 'Estratos', sans-serif;
  font-size:30px;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 200px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  border-radius: 1px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: -50%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.popup_info {
  color: #fff;
  position: relative;
  font-family: Roca, serif;  
  font: size 22px;
  display: inline-block;
}

/* The actual popup (appears on top) */
.popup_info .popuptext_info {
  visibility: hidden;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  text-align: left;
  border-radius: 1px;
  padding: 15px 0;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: -350px;
  margin-left: -80px;
}

.popup_info .popuptext_info::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup_info .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.5);
}
.bright {
  transition: all 0.2s ease-in-out;
}

.bright:hover {
  filter: brightness(1.2);
}


